<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Images</title>
</head>
<body>
    <div class="nav">
        <a href="/">Home</a>
        <a href="/zooimages">Zoo Animals</a>
        <a href="/catimages">Cats</a>
        <a href="/dogimages">Dogs</a>
        <div class="dropdown">
            <button class="dropbtn">Random &#9660
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/zoo">Zoo Animals</a>
                <a href="/cats">Cats</a>
                <a href="/dogs">Dogs</a>
            </div>
        </div>
    </div>
    <div class="images">
        <% for(var i = 0; i < data.length; i++){ %>
            <a href="/cats/<%= data[i].id %>"><img src="<%= data[i].url %>"></a>
        <% } %>
    </div>
</body>
</html>