<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css"/>
    <title>Cats</title>
</head>
<body>
    <div class="nav">
        <a class="active" href="/">Home</a>
        <a href="/zooimages">Zoo Animals</a>
        <a href="/catimages">Cats</a>
        <a href="/dogimages">Dogs</a>
        <a href="/zoo">Random Zoo Animal</a>
        <a href="/cats">Random Cat</a>
        <a href="/dogs">Random Dog</a>
    </div>
    <h1>Random Cat Image</h1>
    <p><img src="<%= data.url %>"></p>
    <div class="container">
        <div class="center">
            <button id="cats">New Cat</button>
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById("cats").onclick = function () {
            location.href = "/cats";
        };
    </script>
</body>
</html>