<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css"/>
    <title>Animals</title>
</head>
<body>
    <div class="nav">
        <a class="active" href="/">Home</a>
        <a href="/zooimages">Zoo Animals</a>
        <a href="/catimages">Cats</a>
        <a href="/dogimages">Dogs</a>
        <a href="/zoo">Random Zoo Animal</a>
        <a href="/cats">Random Cat</a>
        <a href="/dogs">Random Dog</a>
    </div>
    <br><br>
    <h1>Welcome to the Animals Website!</h1>
    <br><br><br><br>
    <p>Please click on one of the navigation menu options for a collection of clickable animal images, or alternatively generate a random animal.</p>
</body>
</html>