<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css"/>
    <title>Animals</title>
</head>
<body>
    <div class="nav">
        <a href="/">Home</a>
        <a href="/zooimages">Zoo Animals</a>
        <a href="/catimages">Cats</a>
        <a href="/dogimages">Dogs</a>
        <div class="dropdown">
            <button class="dropbtn">Random &#9660
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/zoo">Zoo Animals</a>
                <a href="/cats">Cats</a>
                <a href="/dogs">Dogs</a>
            </div>
        </div>
    </div>
    <br><br>
    <h1>Welcome to the Animals Website!</h1>
    <br><br><br><br>
    <p>Please click on one of the navigation menu options for a collection of clickable animal images, or alternatively generate a random animal.</p>
</body>
</html>