html {
    height: 100%;
}
body {
    font-family: FreeMono, monospace;
}
.nav {
    background-color: darkslateblue;
    overflow: hidden;
}
.nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.nav a:hover {
    background-color: darkslateblue;
    color: rgb(173, 172, 181);
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    border: 8pt;
    border-color: darkslateblue;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkslateblue;
    text-align: center;
}
p {
    text-align: center;
}
button {
    background-color: darkslateblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
button:hover {
    background-color:rgb(103, 89, 194);
}
.container {
    height: 100px;
    position: relative;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
b {
    color: darkslateblue;
    font-weight: bold;
}
.row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.column {
    align-items: center;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}